/*
 Theme Name:   Flat Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Flat Child Theme
 Author:       Bernardo Angelini IFTS
 Author URI:   http://example.com
 Template:     Flat
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  flat
*/

/* 
#secondary {
    background: #014d33;
}

body.custom-background {
    background-image: none!important;
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
} */



/* img.logoWP{padding:5% 0% 3% 10%; width:60%;} */

img.logoWP{padding:5% 0% 3% 10%; width:60%;}

h1 secondary a {font-size:10px!important;}

.logo_rimini img{
    width:50%;
    

}

.logo_rimini{
    background-color:#014d33!important;
}

/* body #page {
    max-width: none!important;} */

    #secondary {padding:0 2%;}

    
    #primary {background-color:#d7ffde;}

    
    body article {
        display: block;
        padding: 0 50px!important;
        border-bottom: 0px solid #000;
        margin: 0px!important;
        line-height:20px!important;
    }

    .page-header {
        padding-bottom: 12px;
        margin: 20px 0 26px;
        border-bottom: 0px solid #000;}


        .entry-header h4 {font-weight:bold!important;}

        /* .container  h4 {font-weight:bold!important;} */

        .hentry .entry-title {margin: 16px 0;}


        .site-info{background: #d7ffde!important; }

        .hentry {
            border-bottom: none;
        }

        body{background-color: #d7ffde;}

        /* .site-info{display:none;} */

        #primary .page-title {background: #d7ffde!important;}
        
        .hentry .entry-meta{display:none;}